﻿
@{
    ViewBag.Title = "Admin Dashboard";
}


<div class="text-center">
    <h2>Admin Dashboard</h2>
    <div class="vertical-divider"></div>
    @Html.ActionLink("Manage Cards", "Index", "Card", new { area = "Admin" }, null )
    <div class="divider"></div>
    @Html.ActionLink("Manage Decks", "Index", "Deck", new { area = "Admin" }, null )
    <div class="divider"></div>
    User Management (Coming Soon)
    <div class="vertical-divider"></div>
</div>