﻿@Model dynamic

<div id="ViewCardDetails">

</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CardId }) |
    <button type="button" class="btn btn-default" data-dissmiss="modal">Close</button>
</p>
