﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Admin Area | HearthDuster</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hearth Duster", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @*@if (User.IsInRole("Administrator")) // DEPRICATED: need to create html helper method and authorize in controller see: http://stackoverflow.com/questions/25772851/asp-net-mvc-4-custom-role-authorization-show-hide-edit-delete-links-in-views
                { ADMIN ROLE NOT WORKING RIGHT NOW
                    @Html.ActionLink("Admin Area", "Index", "Home", new { @class = "alert-link" })
                }*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Admin Area", "Index", "Home", new { @class = "alert-link" })</li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="align-self:center">Management<span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Cards", "Index", "Card")</li>
                        <li>@Html.ActionLink("Decks", "Index", "Deck")</li>
                        <li>@Html.ActionLink("Comments", null, null, new { Href = "#" })</li> @* TO DO: Implement these other admin areas. *@
                        <li>@Html.ActionLink("Users", null, null, new { Href = "#" })</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - HearthDuster</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>