﻿@{
    ViewBag.Title = "Administrator | Cards | Index";
}

<h2>Administrator | Cards | Index</h2>

@Html.ActionLink("Add New Card", "Create", "Card")

<hr />

<!-- Search Box -->

@using (Html.BeginForm("Index", "Card", FormMethod.Get))
{
    <p>
        Find by card name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filter" />
    </p>
}

<hr />

<div class="container">
    <div class="row">
        @foreach (var image in Model.Images)
        {
            if (image.FileId != null)
            {
                <div class="col-xs-3" id="dragFrom">
                    <a href="@Url.Action("CardDetails", "Card", new { id = image.FileId } )">
                        <img id="@image.FileId" class="img-responsive" src="~/File?id=@image.FileId" draggable="true" ondragstart="drag(event)"/>
                    </a>
                </div>
            }
        }
    </div>
</div>

<!-- For drag-able help: http://www.w3schools.com/html/html5_draganddrop.asp -->

<div id="dropArea" style="float: right; width: 200px; height: 700px; margin: 10px; padding: 10px; border: 1px solid #aaaaaa;">

</div>

<br />

@if (Model.Cards.HasPreviousPage)
{
    @Html.RouteLink("<<<", "Card", new { page = (Model.Cards.PageIndex - 1) })
}

@if (Model.Cards.HasNextPage)
{
    @Html.RouteLink(">>>", "Card", new { page = (Model.Cards.PageIndex + 1) })
}