﻿@model HearthDuster.Domain

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        
        @*TO DO: Make details page better. Maybe have a partial view that can be shared with a modal?*@

        @if(Model.Images.Any(i => i.ImageType == ImageType.CardImage))
        {
            <dt>
                Card Image
            </dt>
            <dd>
                <img src="~/File?id=@Model.Images.First(i => i.ImageType == ImageType.CardImage).ImageId" alt="@Model.Name" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
