﻿@model IEnumerable<HearthDuster.WebUI.DataModel.Card>

@{
    ViewBag.Title = "Collection";
}

<h2>Collection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.health)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mana)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attack)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rarity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.card_set)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.destroy_value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mechanic_card_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.health)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mana)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attack)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rarity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.card_set)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.destroy_value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mechanic_card_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
